<%= form_for @message, url: {action: "create"} do |f| %>
	Message Content:
	<%= f.text_field :content, required: true%>

	Receiver Name:
	<%= f.text_field :receiver_name, required: true %>
	
	Receiver Email:
	<%= f.text_field :receiver_email, required: true%>
	
	Sender Name:
	<%= f.text_field :sender_name, required: true %>
	
	Send at:
	<%= f.text_field :send_at, required: true, class: 'date'%>

	<%= f.submit "Create" %>

    <div id="msg">
        <%= flash[:alert] %>
    </div>
<% end %>