<div class="content">
    <div class="row">
        <div class="col-sm-4">
        	<center>
        		<h3><span class="label label-default">A Long Term Reminder</span></h3>
        	</center>
        	<%= form_for @message, url: {action: "create"} do |f| %>
                
                <div class="form-group">
                    <label>Name:</label>
                    <%= f.text_field :name, required: true, class: "form-control" %>
                </div>
                
                <div class="form-group">
                    <label>E-mail</label>
                    <%= f.text_field :email, required: true, class: "form-control" %>
                </div>
                
                <div class="form-group">
                    <label>Send On:</label>
                    <%= f.text_field :send_on, required: true, class: "form-control date", placeholder:"Tomorrow or later" %>
                </div>
                
                <div class="form-group">
                    <label>Message Content:</label>
                        <%= f.text_area :content, required: true, class: "form-control", placeholder:"Your plan goes here" %>
                </div>
                
                <%= f.submit "Create", class: "btn btn-primary" %>
                
                <div id="msg">
                    <%= flash[:alert] %>
                </div>
            
            <% end %>
        </div>
        <div class="col-sm-8">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <% 4.times do %>
                <div class="hovereffect">
                    <%= image_tag("placeholder.jpg", class: "img-responsive") %>
                    <div class="overlay">
                       <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tortor augue, rhoncus ut justo at, interdum volutpat velit.</h2>
                    </div>
                </div>
                <div class="col-xs-12" style="height:10px;"></div>
                <% end %>    
            </div>
        
        </div>
    </div>
</div>