<%= form_for @message, url: {action: "create"} do |f| %>
	Message Content:
	<%= f.text_field :content, required: true%>

    Name:
	<%= f.text_field :name, required: true %>
	
	Email:
	<%= f.text_field :email, required: true%>
	
	Send on:
	<%= f.text_field :send_on, required: true, class: 'date'%>

	<%= f.submit "Create" %>

    <div id="msg">
        <%= flash[:alert] %>
    </div>
<% end %>